@font-face {
    font-family: "Century gothic";
    src: url('/fonts/Century Gothic.ttf');
  }
/* Default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century gothic';
}

html,body{
    overflow: auto;
}


/* VARIABLES */
$basecolor: rgba(255,255,255, 1);

.App{
    min-height:100vh;
    position: relative;
    padding-bottom: 6rem;
    @import './header.scss';
    @import './footers.scss';
    @import './main.scss';
}


