section{
    height: 300px;
    background-image: url("../images/header.jpg");
    background-position: 50% 43%;
    background-color:rgba(151,151,228,.3568627450980392);
    background-blend-mode:lighten;
    position: relative;
    z-index: -1;
    overflow: auto;
}
